body {
  background-color: lightgreen;
}

h1 {
  color: brown;
  text-align: center;
}

p {
  font-family: Book Antiqua;
  font-size: 20px;
}


}
</style> </head> <body> </body> </html>
